body {
    background-color: dimgray;
    color: dodgerblue;
    text-align: center;
    align-content: center;
}

img {
    width: 500px;
}
.adventure-grid {
    margin: 20px 100px auto 100px;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(2, 500px);

}

.form-box {
    background-color: sienna;
    width: 500px;
    margin: 30px auto;
    padding: 30px;
}

.madword {
    padding-top: 12px;
}

.form-box button {
    margin-top: 15px;
}