<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mad Mad Madlibs</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Choose your Madlib Adventure</h1>
<div class="adventure-grid">
    <a href="/story_form/trex"><img src="/static/img/trex.jpg" alt="A Tyrannosaurus"></a>
    <a href="/story_form/threemusketeers"><img src="/static/img/3musketeers.jpg" alt="The Three Musketeers"></a>
    <a href="/story_form/skunks"><img src="/static/img/skunk.jpg" alt="A skunk"></a>
    <a href="/story_form/aliens"><img src="/static/img/alien.jpg" alt="An alien"></a>
</div>
    
</body>
</html>